body {
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
}

.contentItem{
	float: left;
	margin:25px;
}

#bio{
	width: 40%;
	color: #4DB8FF;	
}

.cards{
	margin:25px;
	width:400px;
}

#footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	color: #4DB8FF;	
	position: fixed;
	bottom: 0;
	width: 100%;
}

@media all and (max-width: 700px) {
	/* Styles */
	#bio{
		width: 100%;	
	}
}