#header {
	background-color: 	#4DB8FF;
	color: #FFFFFF;
    display: -webkit-flex;
  	display: flex;
  	height: 90px;
  	width:100%;
  	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	margin: auto;
}

#header-box {
    width: 100%;
    overflow: hidden;
  	color: white;
	margin: auto;
	height: 89px;
}

.logo {
	font-weight: 310;
	letter-spacing: 1.2px;
    margin: 0 auto;
    position: relative;
    margin-top: 2px;
}

.logo-left {
	position: absolute;
 	width: 70%;
 	font-size: 2.5vw;
 	margin-right: 5px;
 	text-align: center;
}

.logo-left:before {
	content: "Schumann Technology Consulting"; /*Schumann Technology Consulting*/
}

.logo-icon {
	margin-top:5px;
	position: absolute;
	width: 25%;
	left: 70%;
}

.logo-icon:hover:after{
	-o-animation: sonarEffect 1.3s ease-out 75ms;
	-webkit-animation: sonarEffect 1.3s ease-out 75ms;
	animation: sonarEffect 1.3s ease-out 75ms;
}

.icon-bub {
	display: inline-block;
	vertical-align: top;
	margin-top: 0px;
	background: -webkit-linear-gradient(left, white, #d9d9d9, #cccccc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, white, #d9d9d9, #cccccc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, white, #d9d9d9, #cccccc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, white, #d9d9d9, #cccccc); /* Standard syntax (must be last) */
	border-radius: 50%;
	
	/* rotate */
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	transition-duration: 8s;
}

.icon-bub:before {
	content: "";
	position: absolute;
	height: 85%;
	width: 85%;
	border-radius: 50%;
	left: 7%;
	top: 7%;
	background: #4DB8FF;
}

.icon-bub:hover ~ .icon-bub{
	transform: rotate(1800deg);
}
.icon-bub:hover {
	transform: rotate(1800deg);
}

/* Small window size ----------- */
@media all and (max-width: 700px) {
	/* Styles */
	.logo-left  { 
		left:2px;
		font-size: 5vw;
		width: 100%;
	}
	.logo-icon {
		display: none;
	}

}